.main-search-icon {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1100;
  margin-left: 20px;
}
.main-image-container {
  position: relative;
  width: 1440px;       /* fixed width */
  height: 848px;       /* fixed height */
  opacity: 1;          /* fully visible */
  overflow: hidden;
  margin-top: 20px;
  border-radius: 10px;
}

.main-image-container img {
  width: 100%;          /* fill container width */
  height: 100%;         /* fill container height */
  object-fit: cover;    /* cover container without distortion */
}

.image-overlay {
  position: absolute;
  bottom: 20px;      /* distance from bottom */
  left: 20px;        /* distance from left */
  color: white;
  text-align: left;  /* align text to left */
}

.image-overlay h1 {
  font-size: 2.5rem;
  margin: 0 0 10px 0;
}

.image-overlay p {
  font-size: 1.5rem;
  margin: 0;
}


.logout-container {
  text-align: center;
  margin: 30px 0;
}

.logout-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: red;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: darkred;
}
