/* ===== MAIN LAYOUT ===== */
.signup-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #fff;
}

/* ===== LEFT IMAGE - EXACT 2/3 ===== */
.signup-left {
  width: 66.66%;
}

.signup-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* ===== RIGHT PANEL - EXACT 1/3 ===== */
.signup-right {
  width: 33.33%;
  background: white;
  padding: 80px 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ===== TITLE ===== */
.signup-title {
  font-size: 38px;
  font-weight: 700;
  color: #111;
  margin-bottom: 10px;
}

/* ===== SIGN IN TEXT ===== */
.signup-subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 45px;
}

.signup-subtitle a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

/* ===== FORM ===== */
.signup-form {
  display: flex;
  flex-direction: column;
}

/* LABELS */
.signup-form label {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  margin-bottom: 6px;
}

/* INPUT STYLE — UNDERLINE */
.signup-form input {
  border: none;
  border-bottom: 1.3px solid #111;
  padding: 10px 2px;
  font-size: 16px;
  margin-bottom: 30px;
  outline: none;
  transition: 0.3s ease;
}

.signup-form input:focus {
  border-bottom: 1.3px solid #0077ff;
}

/* TERMS */
.terms {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}

.terms a {
  color: #0077ff;
}

/* BUTTON — ORANGE */
.signup-submit {
  background: #ff6a33;
  color: #fff;
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

.signup-submit:hover {
  background: #e65a29;
}

/* MESSAGES */
.error {
  color: #e63946;
  margin-bottom: 5px;
}

.success {
  color: #22bb33;
  margin-bottom: 5px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .signup-wrapper {
    flex-direction: column;
    height: auto;
  }

  .signup-left {
    width: 100%;
  }

  .signup-left img {
    height: 300px;
  }

  .signup-right {
    width: 100%;
    padding: 40px 25px;
  }
}
